.review-page-heading{
    text-align: center;
    margin-top: 1rem;
    font-size: 30px;
}
.review-page-description{

}
@media (max-width:700px) {
    .review-page-heading{
        width: 550px;
    }
    .review-page-description{
        width: 550px;
    }
}

@media (max-width:600px) {
    .review-page-heading{
        width: 450px;
    }
    .review-page-description{
        width: 450px;
    }
}

@media (max-width:500px) {
    .review-page-heading{
        width: 375px;
    }
    .review-page-description{
        width: 375px;
    }
}