.console-dropdown{
  display: none;
}

@media (min-width:1101px) {
  .side-menu-console{
    display: none;
  }
}
@media (max-width:470px){
  .console-buttons{
    display: none;
    
  }
  .console-dropdown{
    display: flex;
  }
}