.alpha-footer{
    justify-content: space-evenly !important;
}
.footer-navlink{
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

.alpha-footer-navlink{
    text-align: center;
    margin: auto;
}